
debugBorder()
	border 1px solid red

*
	font-family Helvetica

.container
	margin-top 20%
	margin-left 100px
	margin-right 100px
	text-align center

#domain-name-input
	text-align center
	margin 20px
	height 2em
	font-size 2.7em
	color orange
